@import url(../reset.css);

.slidebox {
  width: 100px;
  height: 100px;
  margin: 30px auto;
  background-color: pink;
  white-space: nowrap;
}

.slides {
  font-size: 0;
}

.slide {
  width: 100px;
  height: 100px;
  display: inline-block;
  border: 3px solid red;
}