* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: inherit;
  overflow-X: hidden;
}

.container {
  width: 60%;
  margin: 0 auto;
  }
  
/* header top */
.h-t {
  background-color: #f5f5f5;
}
.h-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* header left */
.h-top-text {
  display: flex;
  margin: 0 20px;
  align-items: center;
  justify-content: space-around;
  font-size: 13px;
}
.h-top-text i {
  padding-right: 10px;
}
.h-top-text01, .h-top-text02 {
  padding-right: 20px;
}
.h-top-text02 {
  padding-left: 20px;
}

.h-top-text01 {
  border-right: 1px solid lightgray;
}


/* header right */
.h-top-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 13px;
}
.h-top-icon i{
  margin-right: 10px;
}
.h-top-right-icon {
  padding-left: 20px;
}
.pinterest {
  padding-right: 20px;
  border-right: 1px solid lightgray;
}
.t-main-menu img {
  padding-left: 10px;
}
.user {
  padding-left: 20px;
  border-left: 1px solid lightgray;
}


/* dropdown */
/* .t-main-menu {
  display: flex;
}

.t-main-menu li {
  height: 200px;
}
.t-main-menu li {
  background-color: yellow;
  margin-right: 10px;
  height: 30px;
  line-height: 30px;
}

.t-main-menu li {
  position: relative;
}

.t-sub-menu {
  position: absolute;
  background-color: pink;
  top: 100%;
  left: 0px;
  padding: 7px;
  display: none;
}

.t-main-menu li:hover .t-sub-menu {
  display: block;
} 

/* header bottom */
.h-bottom {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h-bottom-nav ul{
  display: flex;
}
.h-bottom-nav li {
  padding: 20px;
}

.h-bottom-icon {
  display: flex;
}
.h-bottom-icon i {
  margin-right:15px;
  margin-top:3px;
}


/* bottom dropdown */

/* .b-main-menu {
  display: flex;
}
.b-main-menu > li {
  background-color: yellow;
  margin-right: 10px;
  height: 30px;
  line-height: 30px;
}

.b-main-menu > li:nth-child(3) {
  position: relative;
}

.b-sub-menu {
  position: absolute;
  background-color: pink;
  top: 100%;
  left: 0px;
  padding: 7px;
  display: none;
}

.b-main-menu li:hover .b-sub-menu {
  display: block;
} */




/* main */
#main {
  display: flex;
  justify-content: space-between;
}
/* tab box */
#tab-box {
  white-space: nowrap;
  border: 1px solid #ebebeb;
  position: relative;
}
#tab-button {
  font-size: 0;
  background-color: #7fad39;
  color: white;
  padding: 10px;
}
#tab-button label {
  padding-left: 30px;
  font-size: 15px; 
}
#tab-content {
  padding: 10px 0;
  padding-left: 30px;
  font-size: 15px; 
}
.m-search form [type=submit] {
  background-color: red;
}

.m-search {
  display: flex;

}
#main input {
  display: none;
}
.all {
  display: none;
}
#menu:checked ~ #tab-box #tab-content .all {
  display: block;
}

/* banner img */
.banner img{
  margin-left: 300px;
}



/* slide */
.slidebox {
}

.slides {
  display: flex;
}





/* tab */


/* tab content 숨기기 */
.all {
  display: none;
}

/* tab content 나타내기 */
#menu01:checked ~ #tab-box .tab-content .all,
#menu02:checked ~ #tab-box .tab-content .oranges,
#menu03:checked ~ #tab-box .tab-content .fresh,
#menu04:checked ~ #tab-box .tab-content .vegetables,
#menu05:checked ~ #tab-box .tab-content .fastfood {
  display: block;
}