@import url(header.css);
@import url(style.css);
@import url(footer.css);

:root {
  --main-color : #7fad39;
  --bg-color : #F3F6FA;
  --line-color : lightgray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: inherit;
  overflow-x: hidden;
}

.container {
width: 60%;
margin: 0 auto;
}